@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.link {
  @include flex-center;
  gap: 4px;
  cursor: pointer;

  @include hover {
    p {
      transform: scale(1.1);
      font-weight: 500;
    }

    svg {
      transform: scale(1.2);
    }
  }

  svg {
    @include square(24px);
    transition: all 0.5s ease;
  }

  p {
    transition: all 0.5s ease;
  }
}
