:root {
  --primary-color-dark: #000000;
  --primary-color-gray: #6a6a6a;
  --primary-color-light: #ffffff;

  --color-gray-100: #f5f4f4;
  --color-gray-200: #f8f9fa;
  --color-gray-300: #d3d4d5;
  --color-gray-400: #a2a2a2;
  --color-gray-500: #565656;

  --color-error: #ef4444;

  --border-dark: 2px solid var(--primary-color-dark);
  --border-gray: 2px solid var(--color-gray-400);
  --border-light: 2px solid var(--color-gray-300);
  --border-radius-medius: 10px;
  --border-radius-large: 20px;

  --font-family-base: "StyreneAWeb";

  --container-padding-x: 16px;

  --input-height: 46px;
  --button-height: 46px;

  --icon-size: 46px;

  --transition-duration: 0.3s;
}
