.header {
  width: 100%;
  padding: 44px 32px 18px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background-color: var(--primary-color-light);
}
